{% extends 'homepage.html' %}
{% load static %}
{% block content %}
<div >
 <table class="table">
  <thead>
    <tr>
      
      <th scope="col" style="text-align: center;">College Name</th>
      

    </tr>
  </thead>
  <tbody>
  	{% for i in colleges %}
    <tr>
        <td><a href="{% url 'college_branch' i %}" onMouseOver="this.style.color='blue'" onMouseOut="this.style.color='black'" style="color:#000;text-decoration:none;">{{ i }}</a></td> 
    </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>
{% endblock content %}