{% extends 'homepage.html' %}
{% load static %}
{% block content %}
<section class="portfolio-block block-intro" style="margin-top: -106px;">
            <div class="container-fluid" style="background: var(--bs-white);">
                <div class="row justify-content-center align-items-center mb-3" style="box-shadow: 0px 0px 0px 0px;">
                    <div class="col-lg-8" style="margin: 43px;">
                        <div class="row">
                            <div class="col" style="padding-right: 0px;margin-right: 0px;margin-left: 0px;">
                                <div class="card border-dark shadow mb-3" style="border-radius: 15px;box-shadow: 0px 0px 0px;">
                                    <div class="card-body" style="background: #ffffff;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;border-top-left-radius: 15px;border-top-right-radius: 15px;box-shadow: 2px 2px 5px -1px;">
                                        <form style="opacity: 1;transform: scale(1);background: #ffffff;box-shadow: 0px 0px;padding-bottom: 33px;" method="POST" >
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>EAMCET RANK *</strong><br></label><input class="form-control" type="number" min="0" id="username" placeholder="Rank" name="rank" style="background: #ffffff;" required></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Gender *</strong><br></label><select class="form-select" name="gender" required>
                                                                    <option disabled selected value >-- Select Gender -- </option>
                                                                <option value="F" >Female</option>
                                                                <option value="M">Male</option>
                                                           
                                                        </select></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Caste *</strong><br></label><select class="form-select" name="caste" required>
                                                        
                                                            <option disabled selected value >-- Select Caste -- </option>
                                                            <option value="BC_B">BC_B</option>
                                                            <option value="BC_E">BC_E</option>
                                                            <option value="OC">OC</option>
                                                            <option value="BC_D">BC_D</option>
                                                            <option value="BC_A">BC_A</option>
                                                            <option value="BC_C">BC_C</option>
                                                            <option value="SC">SC</option>
                                                            <option value="ST">ST</option>

                                                        </select></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Branch</strong><br></label><select class="form-select" name="branch" >
                                                            
                                                                <option value="None">None</option>
                                                                <option value="AERONAUTICAL ENGINEERING">AERONAUTICAL ENGINEERING</option>
                                                                <option value="AGRICULTURAL ENGINEERING">AGRICULTURAL ENGINEERING</option>
                                                                <option value="ARTIFICIAL INTELLIGENCE">ARTIFICIAL INTELLIGENCE</option>
                                                                <option value="ARTIFICIAL INTELLIGENCE AND DATA SCIENCE">ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</option>
                                                                <option value="AUTOMOBILE ENGINEERING">AUTOMOBILE ENGINEERING</option>
                                                                <option value="B. PHARMACY (M.P.C. STREAM)">B. PHARMACY (M.P.C. STREAM)</option>
                                                                <option value="BIO-MEDICAL ENGINEERING">BIO-MEDICAL ENGINEERING</option>
                                                                <option value="BIO-TECHNOLOGY">BIO-TECHNOLOGY</option>
                                                                <option value="BTECH MECHANICAL WITH MTECH MANUFACTURING  SYSTEMS">BTECH MECHANICAL WITH MTECH MANUFACTURING  SYSTEMS</option>
                                                                <option value="BTECH MECHANICAL WITH MTECH THERMAL ENGG">BTECH MECHANICAL WITH MTECH THERMAL ENGG</option>
                                                                <option value="CHEMICAL ENGINEERING">CHEMICAL ENGINEERING</option>
                                                                <option value="CIVIL ENGINEERING">CIVIL ENGINEERING</option>
                                                                <option value="COMPUTER ENGINEERING">COMPUTER ENGINEERING</option>
                                                                <option value="COMPUTER ENGINEERING(SOFTWARE ENGINEERING)">COMPUTER ENGINEERING(SOFTWARE ENGINEERING)</option>
                                                                <option value="COMPUTER SCIENCE & ENGINEERING (NETWORKS)">COMPUTER SCIENCE & ENGINEERING (NETWORKS)</option>
                                                                <option value="COMPUTER SCIENCE AND BUSINESS SYSTEM">COMPUTER SCIENCE AND BUSINESS SYSTEM</option>
                                                                <option value="COMPUTER SCIENCE AND ENGINEERING">COMPUTER SCIENCE AND ENGINEERING</option>
                                                                <option value="COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING)">COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING)</option>
                                                                <option value="COMPUTER SCIENCE AND ENGINEERING (CYBER SECURITY)">COMPUTER SCIENCE AND ENGINEERING (CYBER SECURITY)</option>
                                                                <option value="COMPUTER SCIENCE AND ENGINEERING (DATA SCIENCE)">COMPUTER SCIENCE AND ENGINEERING (DATA SCIENCE)</option>
                                                                <option value="COMPUTER SCIENCE AND ENGINEERING (IOT)">COMPUTER SCIENCE AND ENGINEERING (IOT)</option>
                                                                <option value="COMPUTER SCIENCE AND INFORMATION TECHNOLOGY">COMPUTER SCIENCE AND INFORMATION TECHNOLOGY</option>
                                                                <option value="COMPUTER SCIENCE AND TECHNOLOGY">COMPUTER SCIENCE AND TECHNOLOGY</option>
                                                                <option value="CSE (IoT AND CYBER SECURITY INCLUDING BLOCK CHAIN TECHNOLOGY)">CSE (IoT AND CYBER SECURITY INCLUDING BLOCK CHAIN TECHNOLOGY)</option>
                                                                <option value="DAIRYING">DAIRYING</option>
                                                                <option value="DIGITAL TECHNIQUES FOR DESIGN AND PLANNING">DIGITAL TECHNIQUES FOR DESIGN AND PLANNING</option>
                                                                <option value="ELECTRICAL AND ELECTRONICS ENGINEERING">ELECTRICAL AND ELECTRONICS ENGINEERING</option>
                                                                <option value="ELECTRONICS AND COMMUNICATION ENGINEERING">ELECTRONICS AND COMMUNICATION ENGINEERING</option>
                                                                <option value="ELECTRONICS AND COMPUTER ENGINEERING">ELECTRONICS AND COMPUTER ENGINEERING</option>
                                                                <option value="ELECTRONICS AND INSTRUMENTATION ENGINEERING">ELECTRONICS AND INSTRUMENTATION ENGINEERING</option>
                                                                <option value="ELECTRONICS AND TELEMATICS">ELECTRONICS AND TELEMATICS</option>
                                                                <option value="ELECTRONICS COMMUNICATION AND INSTRUMENTATION ENGINEERING">ELECTRONICS COMMUNICATION AND INSTRUMENTATION ENGINEERING</option>
                                                                <option value="FACILITIES AND SERVICES PLANNING">FACILITIES AND SERVICES PLANNING</option>
                                                                <option value="FOOD PROCESSING TECHNOLOGY">FOOD PROCESSING TECHNOLOGY</option>
                                                                <option value="FOOD SCIENCE">FOOD SCIENCE</option>
                                                                <option value="INDUSTRIAL PRODUCTION ENGINEERING">INDUSTRIAL PRODUCTION ENGINEERING</option>
                                                                <option value="INFORMATION TECHNOLOGY">INFORMATION TECHNOLOGY</option>
                                                                <option value="INFORMATION TECHNOLOGY AND ENGINEERING">INFORMATION TECHNOLOGY AND ENGINEERING</option>
                                                                <option value="MECHANICAL (MECHTRONICS) ENGINEERING">MECHANICAL (MECHTRONICS) ENGINEERING</option>
                                                                <option value="MECHANICAL ENGINEERING">MECHANICAL ENGINEERING</option>
                                                                <option value="METALLURGICAL ENGINEERING">METALLURGICAL ENGINEERING</option>
                                                                <option value="METALLURGY AND MATERIAL ENGINEERING">METALLURGY AND MATERIAL ENGINEERING</option>
                                                                <option value="MINING ENGINEERING">MINING ENGINEERING</option>
                                                                <option value="PHARM - D (M.P.C. STREAM)">PHARM - D (M.P.C. STREAM)</option>
                                                                <option value="PHARMACEUTICAL ENGINEERING">PHARMACEUTICAL ENGINEERING</option>
	                                                            <option value="PLANNING">PLANNING</option>
	                                                            <option value ="TEXTILE TECHNOLOGY">TEXTILE TECHNOLOGY</option>
                                                            
                                                        </select></div>
                                                </div>
                                            </div>
                                            <div class="mb-3" style="margin-top: 20px;margin-bottom: 0px;"><button class="btn btn-primary btn-sm" type="submit">SUBMIT</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock content %}