{% extends 'homepage.html' %}
{% load static %}
{% block content %}
<section class="portfolio-block block-intro" style="margin-top: -106px;">
            <div class="container-fluid" style="background: var(--bs-white);">
                <div class="row justify-content-center align-items-center mb-3" style="box-shadow: 0px 0px 0px 0px;">
                    <div class="col-lg-8" style="margin: 43px;">
                        <div class="row">
                            <div class="col" style="padding-right: 0px;margin-right: 0px;margin-left: 0px;">
                                <div class="card border-dark shadow mb-3" style="border-radius: 15px;box-shadow: 0px 0px 0px;">
                                    <div class="card-body" style="background: #ffffff;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;border-top-left-radius: 15px;border-top-right-radius: 15px;box-shadow: 2px 2px 5px -1px;">
                                        <form style="opacity: 1;transform: scale(1);background: #ffffff;box-shadow: 0px 0px;padding-bottom: 33px;" method="POST" >
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>EAMCET RANK *</strong><br></label><input class="form-control" type="number" id="username" placeholder="Rank" name="rank" style="background: #ffffff;" required></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Gender *</strong><br></label><select class="form-select" name="gender" required>
                                                            <optgroup label="Select Gender">
                                                                <option value="F" selected="">Female</option>
                                                                <option value="M">Male</option>
                                                            </optgroup>
                                                        </select></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Caste *</strong><br></label><select class="form-select" name="caste" required>
                                                        <optgroup label="Select Caste">

                                                            <option value="BC_B">BC_B</option>
                                                            <option value="BC_E">BC_E</option>
                                                            <option value="OC">OC</option>
                                                            <option value="BC_D">BC_D</option>
                                                            <option value="BC_A">BC_A</option>
                                                            <option value="BC_C">BC_C</option>
                                                            <option value="SC">SC</option>
                                                            <option value="ST">ST</option>

                                                        </select></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Branch</strong><br></label><select class="form-select" required>
                                                            <optgroup label="Select Branch">
                                                                <option value="PHARM - D (M.P.C. STREAM)">PHARM - D (M.P.C. STREAM)</option>
                                                                <option value="COMPUTER SCIENCE AND ENGINEERING">COMPUTER SCIENCE AND ENGINEERING</option>
                                                                <option value="">CIVIL ENGINEERING</option>
                                                                <option value="">INFORMATION TECHNOLOGY</option>
                                                                <option value="">COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING)</option>
                                                                <option value="">COMPUTER SCIENCE AND ENGINEERING (DATA SCIENCE)</option>
                                                                <option value="">ELECTRICAL AND ELECTRONICS ENGINEERING</option>
                                                                <option value="">MECHANICAL ENGINEERING</option>
                                                                <option value="">ELECTRONICS AND COMMUNICATION ENGINEERING</option>
                                                                <option value="">BIO-MEDICAL ENGINEERING</option>
                                                                <option value="">AERONAUTICAL ENGINEERING</option>
                                                                <option value="">COMPUTER ENGINEERING</option>
                                                                <option value="">INDUSTRIAL PRODUCTION ENGINEERING</option>
                                                                <option value="">ELECTRONICS AND INSTRUMENTATION ENGINEERING</option>
                                                                <option value="">CSE (IoT AND CYBER SECURITY INCLUDING BLOCK CHAIN TECHNOLOGY)</option>
                                                                <option value="">ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</option>
                                                                <option value="">TEXTILE TECHNOLOGY</option>
                                                                <option value="">CHEMICAL ENGINEERING</option>
                                                                <option value="">FOOD PROCESSING TECHNOLOGY</option>
                                                                <option value="">COMPUTER SCIENCE AND INFORMATION TECHNOLOGY</option>
                                                                <option value="">COMPUTER SCIENCE AND ENGINEERING (CYBER SECURITY)</option>
                                                                <option value="">COMPUTER ENGINEERING(SOFTWARE ENGINEERING)</option>
                                                                <option value="">COMPUTER SCIENCE AND ENGINEERING (IOT)</option>
                                                                <option value="">B. PHARMACY (M.P.C. STREAM)</option>
                                                                <option value="">MINING ENGINEERING</option>
                                                                <option value="">PLANNING</option>
                                                                <option value="">FACILITIES AND SERVICES PLANNING</option>
                                                                <option value="">DIGITAL TECHNIQUES FOR DESIGN AND PLANNING</option>
                                                                <option value="">ELECTRONICS COMMUNICATION AND INSTRUMENTATION ENGINEERING</option>
                                                                <option value="">DAIRYING</option>
                                                                <option value="">METALLURGY AND MATERIAL ENGINEERING</option>
                                                                <option value="">MECHANICAL (MECHTRONICS) ENGINEERING</option>
                                                                <option value="">AGRICULTURAL ENGINEERING</option>
                                                                <option value="">BIO-TECHNOLOGY</option>
                                                                <option value="">PHARMACEUTICAL ENGINEERING</option>
                                                                <option value="">AUTOMOBILE ENGINEERING</option>
                                                                <option value="">INFORMATION TECHNOLOGY AND ENGINEERING</option>
                                                                <option value="">FOOD SCIENCE</option>
                                                                <option value="">ELECTRONICS AND COMPUTER ENGINEERING</option>
                                                                <option value="">COMPUTER SCIENCE AND BUSINESS SYSTEM</option>
                                                                <option value="">ARTIFICIAL INTELLIGENCE</option>
                                                                <option value="">COMPUTER SCIENCE & ENGINEERING (NETWORKS)</option>
                                                                <option value="">METALLURGICAL ENGINEERING</option>
                                                                <option value="">BTECH MECHANICAL WITH MTECH THERMAL ENGG</option>
                                                                <option value="">BTECH MECHANICAL WITH MTECH MANUFACTURING  SYSTEMS</option>
                                                                <option value="">COMPUTER SCIENCE AND TECHNOLOGY', 'ELECTRONICS AND TELEMATICS</option>
                                                            </optgroup>
                                                        </select></div>
                                                </div>
                                            </div>
                                            <div class="mb-3" style="margin-top: 20px;margin-bottom: 0px;"><button class="btn btn-primary btn-sm" type="submit">SUBMIT</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock content %}